img {
    height: 5vh;
    width: 5vh;
}

.header {
    display: flex;
    height: 10vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
}

.title {
    border: 1px solid red;
}
.settings {
    border: 1px solid red;
}
